<h4>注文情報入力</h4>

<%= form_with model: @order, url: orders_confirm_path, method: :get, class:"mt-4" do |f| %>
  <h5>お支払方法</h5>
  <ul>
    <li class="list-unstyled">
      <%= f.radio_button :payment_method, Order.payment_methods.key(0), checked: true %>
      <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
    </li>
    <li class="list-unstyled">
      <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
      <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %>
    </li>
  </ul>
  <h5>お届け先</h5>
  <ul>
    <li class="list-unstyled">
      <%= f.radio_button :address_id, 0, checked: true %>
      <%= f.label :address_id_0, "ご自身の住所" %><br>
      <p class="ml-3 mb-0">
        <%= "〒" + @customer.postal_code + " " + @customer.address %>
        <br>
        <%= @customer.last_name %>
      </p>
    </li>
    <li class="list-unstyled">
      <%= f.radio_button :address_id, 1 %>
      <%= f.label :address_id_1, "登録住所から選択" %>
      <%= f.collection_select(:address, @customer.addresses, :id, :full_address, {} ,{class:"ml-3 mb-0"}) %>
    </li>
    <li class="list-unstyled">
      <%= f.radio_button :address_id, 2 %>
      <%= f.label :address_id_2, "新しいお届け先" %>
      <table class="ml-3">
        <tr>
          <td><%= f.label :postal_code, "郵便番号(ハイフンなし)" %></td>
          <td><%= f.text_field :postal_code, placeholder:"0000000"  %></td>
        </tr>
        <tr>
          <td><%= f.label :address, "住所" %></td>
          <td><%= f.text_field :address, placeholder:"東京都渋谷区代々木"  %></td>
        </tr>
        <tr>
          <td><%= f.label :name, "宛名" %></td>
          <td><%= f.text_field :name, placeholder:"令和道子" %></td>
        </tr>
      </table>
    </li>
  </ul>

  <%= f.hidden_field :sum, :value => @sum %>

  <%= f.submit "確認画面へ進む", class: "submit-btn" %>
<% end %>