<h4>商品一覧 (全<%= @items.where(is_active: true).length %>件)</h4>

<div class="d-flex mt-3">
  <% @items.each do |item| %>
    <% if item.is_active %>
      <div class="mr-3">
        <%= link_to item_path(item.id) do %>
          <%= image_tag item.get_image(180, 180) %>
        <% end %>
        <p><%= item.name %><br>￥<%= item.price_including_tax %></p>
      </div>
    <% end %>
  <% end %>
</div>