<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <br>
    <%= link_to "Logo", customers_root_path %>
    <%= link_to "退会ボタン", customers_confirm_path %>
    
    <% if customer_signed_in? %>
    
      <%= link_to "マイページ", customers_my_page_path %>
      <%= link_to "商品一覧", items_path %>
      <%= link_to "マイページ編集", customers_edit_path %>
      <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
      <br>
      <p>ようこそ、<%= current_customer.last_name %>さん</p>
      
    <% else %>
    
      <%= link_to "About", customers_about_path %>
      <%= link_to "商品一覧", items_path %>
      <%= link_to "新規登録", new_customer_registration_path %>
      <%= link_to "ログイン", new_customer_session_path %>
      
    <% end %>
    
    <%= yield %>
  </body>
</html>
